@model IEnumerable<DomTextil.Domain.Entities.Post>
@{
    Layout = null;
}

<p>
    @Html.ActionLink("Создать акцию", "CreateDiscount")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublisTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Text.Length > 51)
                {
                    <div>@item.Text.Substring(0, 50)+...</div>
                }
                else
                {
                    <div>@item.Text</div>;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisTime)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditDiscount", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "DeleteDiscount", new { id = item.ID })
            </td>
        </tr>
    }

</table>
