@model IEnumerable<DomTextil.Domain.Entities.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Создать новый товар", "CreateProducts")
    </p>
    <table class="table">
        <tr>
            <th>
               Название
            </th>
            <th>
                Цена
            </th>
            <th>
                Описание
            </th>
            <th>
                Главная категория
            </th>
            <th>
                Подкатегория
            </th>
            <th>
               Картинка 
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryCategory)
            </td>
            <td style="width:30px;">
               <img src="@item.MainPhoto" style="height:30px;" />
            </td>
            <td>
                @Html.ActionLink("Исправить", "EditProducts", new { id = item.ID })|                
            </td>
            
            <td>
                @Html.ActionLink("Удалить", "DeleteProducts", new { id = item.ID })
            </td>
        </tr>
        <tr style="width:100%; height:2px; background-color:green; "><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    }
    
    </table>
</body>
</html>
